<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/css/stile.css}" />
    <link th:rel="stylesheet" th:href="@{/css/card.css}" />
    <link th:rel="stylesheet" th:href="@{/css/navbar.css}" />
</head>

<body class="bg-dark">
    <div class="container" style="background-image: url('/imgs/sfondo/background.jpg'); background-size: cover;">
        <div class="p-3 bg-dark text-white">
            <div th:insert="~{fragments/navbar :: navBar}"></div>
        </div>
        <div class="bg-dark text-white">
            <h1>Nuova offerta per la pizza: <p th:text=" ${pizza.getNome()}"><p th:object="${offerta}" th:text="*{getDiscountStart}"></p>
            </h1>
            <form th:action="@{/{id}/offerta}" th:object="${offerta}" method="post" id="offerta-form"
                class="bg-dark text-white container">
                <div class="m-3 p-2">
                    <label for="discountStart" class="form-label">Data di inizio:</label>
                    <input class="form-control" type="date" id="discountStart" th:field="*{discountStart}" th:errorClass="is-invalid" required>
                </div>
                <div class="m-3 p-2">
                    <label for="discountEnd" class="form-label">Data di fine:</label>
                    <input class="form-control" type="date" id="discountEnd" th:field="*{discountEnd}"
                        th:errorClass="is-invalid" required>
                </div>
                <div class="m-3 p-2">
                    <label for="Descrizione" class="form-label">Descrizione</label>
                    <textarea id="Descrizione" class="form-control" rows="4" th:field="*{descrizione}"
                        placeholder="Descrivi l'offerta" th:errorClass="is-invalid"></textarea>

                </div>

            </form>
        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
    <!--JS-->
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>